# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# WordPress Coding Standards
# https://make.wordpress.org/core/handbook/best-practices/coding-standards/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[*.css]
indent_style = tab
indent_size = 4

[*.scss]
indent_style = tab
indent_size = 4

[*.txt]
end_of_line = crlf
