.container {
  max-width: $xl;

  &,
  &.container-fluid,
  &.container-narrow {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    @include clearfix();
  }
}

.container-fluid {
  max-width: 100%;
}

.container-narrow {
  max-width: $lg;
}
