/*-------------------------
*  Grid
*--------------------------*/
$columns: 12;
$gutter: 10px;

/*-------------------------
*  Spacing
*--------------------------*/
$paddings: ('pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left');
$margins: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');

/*-------------------------
*  Media Queries
*--------------------------*/
$xs: 480px;
$sm: 600px;
$md: 800px;
$lg: 1190px;
$xl: 1440px;
$xxl: 1700px;

$breakpoints: ('xs': $xs, 'sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl);

/*-------------------------
*  Colours
*--------------------------*/
$white: #FFFFFF;
$black: #000000;
$light-grey: #F0F0F0;

// custom colours

/*-------------------------
*  Typography
*--------------------------*/
$base-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-fs: 18px;

/*-------------------------
*  Animations
*--------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier( .55, 0, .1, 1 );
$swift: cubic-bezier( .4, 0, .2, 1 );
$ease: ease;

$transition-default: all $time $ease;
