@mixin transition($val...) {
	-webkit-transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	-o-transition: $val;
	transition: $val;
}

@mixin transition-delay($val) {
	-webkit-transition-delay: $val;
	-moz-transition-delay: $val;
	-ms-transition-delay: $val;
	-o-transition-delay: $val;
	transition-delay: $val;
}

@mixin transform($val...) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin transform-origin($val) {
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	-o-transform-origin: $val;
	transform-origin: $val;
}